@model List<ResultAboutDto>
@{
    ViewData["Title"] = "Kategoriler";
    Layout = "~/Areas/Admin/Views/AdminLayout/_AdminLayout.cshtml";

    int count = 0;
}

<div class="col-md-12">
    <div class="chart-box">
        <h4>Hakkımızda Tablosu</h4>
        <p>Hakkımzda ile ilgili işlemlerinizi aşağıdaki tablo üzerinden gerçekleştirebilsiniz <strong>Tema Bütünlüğü için sadece 1 adet Hakkımızda Girişi Yapınız...</strong></p>
        <div class="bs-example" data-example-id="bordered-table">

            <div class="text-start">
                <a asp-action="CreateAbout" asp-controller="About" class="btn btn-primary">Yeni Hakkımızda Girişi</a>
            </div>
            <br />
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Açıklama</th>
                        <th>Adres</th>
                        <th>Email</th>
                        <th>Telefon</th>
                        <th>Sil</th>
                        <th>Güncelle</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model is not null)
                    {

                        foreach (var item in Model)
                        {
                            count++;
                            <tr>
                                <th scope="row">@count</th>
                                <td>@item.Description</td>
                                <td>@item.Address</td>
                                <td>@item.Email</td>
                                <td>@item.Phone</td>
                                <td><a asp-action="Delete" asp-controller="About" asp-route-id="@item.DataProtect" class="btn btn-danger">Sil</a></td>
                                <td><a asp-action="Update" asp-controller="About" asp-route-id="@item.DataProtect" class="btn btn-success">Güncelle</a></td>
                            </tr>
                        }
                    }
                    else
                    {


                        <tr>
                            <td class="alert alert-warning" colspan="7">Kayıt Yok</td>
                        </tr>

                    }
                </tbody>



            </table>
        </div>
    </div>
</div>
