@model List<ProductSearchViewModel.Datum>
@{
    ViewData["Title"] = "CurrencyExchange";
    int count = 0;
}

<div class="container">
    <br />
    <form action="Index" method="post">

        <div class="form-control">
            <label class="form-control">Aranacak Ürün</label>
            <input type="text" class="form-control" name="searchProduct" value="" />
        </div>
        <br />

        <input type="submit" class="btn btn-outline-primary" value="Sorgula" />
    </form>
    <br /><br />
    @if (Model.Count > 0)
    {

        <div class="container">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Ürün Başlığı</th>
                        <th>Ürün Puanı</th>
                        <th>Ürün Fiyatı</th>
                        <th>Ürün Detayları</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Any())
                    {
                        @foreach (var item in Model)
                        {
                            count++;
                            <tr>
                                <td>@count</td>
                                <td>@item.product_title</td>
                                <td>@(item.product_rating is not null ? item.product_rating:"Puanlama Yok")</td>
                                <td>@(item.typical_price_range is not null? item.typical_price_range.GetValue(0) : "₺ 0.00")</td>
                                <td><a href="@item.product_page_url" class="btn btn-outline-info">Ürün Detayları</a></td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="5" class="alert alert-warning"> Uygun Veri Bulunamamıştır.</td>
                        </tr>
                    }

                </tbody>
            </table>

        </div>
    }

</div>