@model List<ResultFeatureDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/_AdminLayout.cshtml";
    int count = 0;
}

<div class="col-md-12">
    <div class="chart-box">
        <h4>Öne Çıkan Alanlar Tablosu</h4>
        <p>Öne Çıkan Alan ile ilgili işlemlerinizi aşağıdaki tablo üzerinden gerçekleştirebilsiniz.</p>
        <div class="bs-example" data-example-id="bordered-table">

            <div class="text-start">
                <a asp-action="CreateFeature" asp-controller="Feature" class="btn btn-primary">Yeni Öne Çıkan Alan</a>
            </div>
            <br />
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Başlık</th>
                        <th>İcon Url</th>
                        <th>Durum</th>
                        <th>Sil</th>
                        <th>Güncelle</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model is not null)
                    {

                        foreach (var item in Model)
                        {
                            count++;
                            <tr>
                                <th scope="row">@count</th>
                                <td>@item.Title</td>
                                <td>@item.IconUrl</td>
                                <td>@(item.Status?"Aktif":"Pasif")</td>
                                <td><a asp-action="Delete" asp-controller="Feature" asp-route-id="@item.DataProtect" class="btn btn-danger">Sil</a></td>
                                <td><a asp-action="Update" asp-controller="Feature" asp-route-id="@item.DataProtect" class="btn btn-success">Güncelle</a></td>
                            </tr>
                        }
                    }
                    else
                    {


                        <tr>
                            <td class="alert alert-warning" colspan="6">Kayıt Yok</td>
                        </tr>

                    }
                </tbody>



            </table>
        </div>
    </div>
</div>
