@model List<ResultProductsWithCategoryDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/_AdminLayout.cshtml";
    int count = 0;
}

<div class="col-md-12">
    <div class="chart-box">
        <h4>Ürün Tablosu</h4>
        <p>Ürün ile ilgili işlemlerinizi aşağıdaki tablo üzerinden gerçekleştirebilsiniz.</p>
        <div class="bs-example" data-example-id="bordered-table">

            <div class="text-start">
                <a asp-action="CreateProduct" asp-controller="Product" class="btn btn-primary">Yeni Ürün</a>
            </div>
            <br />
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Ürün Adı</th>
                        <th>Ürün Fiyatı</th>
                        <th>Ürün Kategori</th>
                        <th>Sil</th>
                        <th>Güncelle</th>
                        <th>Fotoğraflar</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model is not null)
                    {

                        foreach (var item in Model)
                        {
                            count++;
                            <tr>
                                <th scope="row">@count</th>
                                <td>@item.Name</td>
                                <td>@item.Price.ToString("0.00₺")</td>
                                <td>@item.CategoryName</td>
                                <td><a asp-action="Delete" asp-controller="Product" asp-route-id="@item.DataProtect" class="btn btn-danger">Sil</a></td>
                                <td><a asp-action="Update" asp-controller="Product" asp-route-id="@item.DataProtect" class="btn btn-success">Güncelle</a></td>
                                <td><a asp-action="ProductImageDetail" asp-controller="ProductImage" asp-route-id="@item.DataProtect" class="btn btn-warning">Ürüne Ait Fotoğraflar</a></td>
                            </tr>
                        }
                    }
                    else
                    {


                        <tr>
                            <td class="alert alert-warning" colspan="6">Kayıt Yok</td>
                        </tr>

                    }
                </tbody>



            </table>
        </div>
    </div>
</div>


